<header class="page-header">
	<div class="container">
		<div class="flex flex-wrap items-center justify-between py-4">
			<div class="flex flex-col">
				<a href="{{ siteUrl }}" class="mb-5">
					{{ svg('@webroot/img/logo.svg')|attr({ class: 'w-full max-w-logo' }) }}
				</a>
			
				<span class="mb-2 text-xl font-bold uppercase title-color">{{ 'Erfgoed KU Leuven'|t }}</span>
			</div>

			{% include '_snippet/_nav/_service' %}
			<div class="flex items-center js-search-hide">
				<p>
					This will be hidden when search is open
				</p>
				<button class="ml-4 cursor-pointer js-search-trigger js-search-animated">
					<span class="sr-only">{{ 'Zoeken'|t }}</span>
					<svg class="icon" aria-hidden="true">
						<use xlink:href="/icon/sprite.svg#search"></use>
					</svg>
				</button>
			</div>
			{% include "_snippet/_global/_search.twig" %}
			<div class="relative flex flex-wrap items-center justify-between hidden w-full border-fade-bottom-full md:flex">
				{% include '_snippet/_nav/_main' %}
				{% include '_snippet/_nav/_language' %}
			</div>
			<a href="#flyout" class="text-3xl js-flyout-toggle md:hidden" role="button">
				<span class="sr-only">Menu</span>
				<svg class="icon" aria-hidden="true">
					<use xlink:href="/icon/sprite.svg#menu"></use>
				</svg>
			</a>
		</div>
	</div>
</header>
