{% set searchResultsEntry = craft.entries.section('searchResults').one() %}
{% if searchResultsEntry %}
	<div class="container">
		<div class="flex justify-start -mx-4 md:mx-0 md:justify-end">
			<form action="{{ searchResultsEntry.getUrl() }}" class="w-1/3">
				<input type="hidden" name="cx" value="{{ getenv('GOOGLE_SEARCH_KEY') }}"/>
				<input type="hidden" name="ie" value="UTF-8"/>
				<div class="flex">
					<input type="search" class="flex-1 px-1 text-base text-white placeholder-white search-bg rounded-xs" name="q" placeholder="{{ 'Zoeken'|t }}"/>
					<button type="submit">
						<span class="sr-only">{{ 'Zoeken'|t }}</span>
						<svg class="w-10 h-10 px-2 py-2 text-white icon bg-primary" aria-hidden="true">
							<use xlink:href="/icon/sprite.svg#search"></use>
						</svg>
					</button>
				</div>
			</form>
		</div>
	</div>
{% endif %}
