{% extends "_layout" %}

{% block content %}

	<div class="text-white bg-center bg-cover hero js-bg-target">
		<div class="w-1/2 px-10 py-10 bg-primary-hover">
			<div class="section section--default">
				<div class="container">
					{% block breadcrumbs %}
						<div class="mb-10">
							{% include '_snippet/_nav/_breadcrumb' %}
						</div>
					{% endblock %}

					{% include '_snippet/_content/_pageTitle' %}
					<div class="mb-5">
						<svg class="w-5 h-5 mr-2 text-white icon" aria-hidden="true">
							<use xlink:href="/icon/sprite.svg#place"></use>
						</svg>
						{{ entry.startingPoint }}
					</div>
					{% include '_snippet/_content/_intro' %}
					<a href="{{ entry.cta }}">{{ entry.cta.getText() }}</a>
					{% include '_snippet/_item/_walkDetail' %}
				</div>
			</div>
		</div>
	</div>

	{% include '_snippet/_content/_contentBuilder'
        with {
        settings : {
            section: 'section',
            container: 'container',
        }
    } %}

    {% include '_snippet/_content/_ctaBlok' %}

{% endblock %}
