<div class="section section--default">
	<div class="container">
		<div class="px-10 py-10 text-white blue-bg">
			<div class="mb-5 text-xl font-bold uppercase">
				{{ block.titel }}
			</div>

			<div class="w-3/4 mb-5">
				{{ block.info }}
			</div>

			<div>
				<a class="-ml-4 btn btn--link btn--ext" href="{{ block.linkit }}">{{ block.linkit.getText() }}</a>
			</div>
		</div>
	</div>
</div>