<div class="w-full {% if settings.centered is not defined %}md:w-8/12{% endif %}">
	<blockquote>
		<div class="text-xl font-accent text-primary-hover">
			{{ block.text }}
		</div>
		{% if block.writer|length %}
			<footer class="mt-4 text-primary">- {{ block.writer }}</footer>
		{% endif %}
	</blockquote>
	{% if block.cta|length %}
		<div class="inline">
			{% for cta in block.cta.all() %}
				{% include '_snippet/_content/_blocks/_cta' %}
			{% endfor %}
		</div>
	{% endif %}
</div>
