{% extends "_layout" %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="w-full md:w-3/4">
				{% include '_snippet/_content/_pageTitle' %}
				{% include '_snippet/_content/_intro' %}
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			{% set gidsen = craft.entries.section('walkDetail').all() %}
			<a class="mr-5 font-bold uppercase" href="{{ entry.url }}">{{ 'Wandelingen met gids'|t }}</a>
			<a class="font-bold uppercase active:text-primary active:border-b-4" href="/walk?gids=1">{{ 'Wandelingen met app'|t }}</a>
			<div class="mt-5 border-b-2 border-gray-500"></div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="flex flex-wrap -mx-4">
				{% if craft.app.request.getQueryParam('gids') == 1 %}
					{% for gids in gidsen %}
						{% if gids.switchApp == 1 %}
							{% include '_snippet/_item/_walk' %}
						{% endif %}
					{% endfor %}

				{% else %}
					{% for gids in gidsen %}
						{% if gids.switchApp == 0 %}
							{% include '_snippet/_item/_walk' %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
