{% extends "_layout" %}

{% block content %}
    
    <div class="section section--default">
        <div class="container">
            <div class="w-full md:w-3/4">
                {% include '_snippet/_content/_intro' %}
            </div>
        </div>
    </div>
    <div class="section section--default">
        <div class="container">
            {% set walks = craft.entries.section('walk').all() %}
            {% for walk in walks %}
                <a href="{{ walk.url }}">walk</a>
            {% endfor %}

            {% set collecties = craft.entries.section('collectieDetail').all() %}
            {% for collectie in collecties %}
                <a href="{{ collectie.url }}">coll</a>
            {% endfor %}

            {% set verhalen = craft.entries.section('verhalenDetail').all() %}
            {% for verhaal in verhalen %}
                <a href="{{ verhaal.url }}">verhaal</a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
